@media screen and (max-device-width:1023px) and (orientation: portrait){
    
   
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  .left {
    left: 0;
    background-color: #6F4C35;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #779CEC;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
  .centered img {
    width: 200px;
  
  }
  
  
  .header {
    padding: 0px;
    text-align: center;
    color: #6F4C35;
    font-size: 15px;
  
  }
  
  button {
  
    color: white;
    background-color: #6F4C35;
    width: 100px;
    height: 35px;
    border: none;
    margin: 10px;
  
  }


  .centered form {  

    height: 200px;


}

}